.card {
  position: relative;
  left: 0;
  height: auto;
  width: calc(var(--width) * 1px);
  margin: 32px 8px;
  padding: 24px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 4px rgba(23, 23, 23, 0.1);
}

.your-vehicle-title {
  height: calc(var(--width-scale) * 34px);
  width: 100%;
  color: #000000;
  font-family: "SF Pro Display Bold", sans-serif;
  font-size: calc(var(--width-scale) * 28px);
  font-weight: bold;
  letter-spacing: 0.36px;
  line-height: calc(var(--width-scale) * 34px);
  cursor: default;
}

.your-vehicle-picture {
  width: calc(var(--width-scale) * 350px);
  height: calc(var(--width-scale) * 214px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 32px 0;
}

.your-vehicle-features-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.your-vehicle-feature-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.your-vehicle-feature-icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.your-vehicle-feature-value {
  height: 36px;
  width: calc(var(--width-scale) * 50px);
  font-family: "SF Pro Text", sans-serif;
  color: #8a8a8f;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: -0.29px;
  line-height: 18px;
  text-align: center;
  cursor: default;
}

.tutorials-title {
  height: 24px;
  color: #000000;
  font-family: "SF Pro Display Bold", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.34px;
  line-height: 24px;
  margin: 0 0 32px 0;
  cursor: default;
}

.tutorial-card {
  position: absolute;
  left: var(--left-position);
  height: calc(var(--width-scale) * 184px);
  width: calc(var(--width-scale) * 342px);
  border-radius: 8px;
  box-shadow: 0 4px 8px 4px rgba(23, 23, 23, 0.1);
}

.tutorial-card-mask {
  position: absolute;
  bottom: 0;
}

.tutorial-name {
  position: absolute;
  left: 16px;
  bottom: 56px;
  height: 24px;
  width: calc(var(--width-scale) * 310px);
  color: #ffffff;
  font-family: "SF Pro Display Bold", sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.38px;
  line-height: 24px;
  margin: 0;
  overflow: hidden;
  cursor: default;
}

.tutorial-description {
  position: absolute;
  left: 16px;
  bottom: 16px;
  height: 32px;
  width: calc(var(--width-scale) * 250px);
  color: #ffffff;
  font-family: "SF Pro Text Regular", sans-serif;
  font-size: 12px;
  letter-spacing: -0.29px;
  line-height: 16px;
  margin: 0;
  overflow: hidden;
  cursor: default;
}
