.detector-background {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(var(--width) * 1px);
  height: calc(var(--height) * 1px);
  overflow: hidden;
}

.detector-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 88px;
  width: calc(var(--width-scale) * 414px);
  padding-left: 64px;
  padding-top: 32px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(6px);
  overflow: hidden;
}

.component-detector-title {
  height: 24px;
  color: rgb(0, 122, 255);
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.38px;
  line-height: 24px;
  margin: 0;
  cursor: default;
}

.chevron-back {
  position: absolute;
  left: 32px;
  top: 34px;
  height: 24;
  width: 24;
  font-size: 24px;
  color: rgb(0, 122, 255);
  line-height: 24px;
  cursor: pointer;
}

.preparing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc(var(--width) * 1px);
  padding: 0 16px;
}

.preparing .preparing-message {
  display: block;
  color: rgb(0, 122, 255);
  font-family: "SF Pro Display", sans-serif;
  font-size: calc(var(--height-scale) * 20px);
  font-weight: 600;
  letter-spacing: 0.38px;
  line-height: calc(var(--height-scale) * 24px);
  text-align: center;
  margin: 0 0 16px 0;
  cursor: default;
  overflow: hidden;
}

.preparing .camera-error {
  display: block;
  color: rgb(255, 0, 0);
  font-family: "SF Pro Display", sans-serif;
  font-size: calc(var(--height-scale) * 20px);
  font-weight: 600;
  letter-spacing: 0.38px;
  line-height: calc(var(--height-scale) * 24px);
  text-align: center;
  margin: 0 0 16px 0;
  cursor: default;
  overflow: hidden;
}

.preparing .wait {
  display: block;
  color: rgb(102, 102, 102);
  font-family: "SF Pro Text", sans-serif;
  font-size: calc(var(--height-scale) * 16px);
  letter-spacing: -0.39px;
  line-height: calc(var(--height-scale) * 20px);
  text-align: center;
  margin: 8px 0 32px 0;
  padding: 0 24px 0 24px;
  cursor: default;
}

.preparing .prepared-message {
  display: block;
  color: rgb(0, 122, 255);
  font-family: "SF Pro Display", sans-serif;
  font-size: calc(var(--height-scale) * 16px);
  font-weight: 400;
  letter-spacing: 0.38px;
  line-height: calc(var(--height-scale) * 20px);
  text-align: center;
  cursor: default;
  overflow: hidden;
}

.detection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: blue;
  opacity: 0.5;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.detection-position {
  position: absolute;
  left: calc((var(--x) - 20) * 1px);
  top: calc((var(--y) - 20) * 1px);
  /* animation-name: detection-movement;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-duration: calc(var(--animation-duration) 1ms); */
}

/* @keyframes detection-movement {
  100% {
    left: calc((var(--next-x) - 20) * 1px);
    top: calc((var(--next-y) - 20) * 1px);
  }
} */

.selected-detection {
  opacity: 1;
}

.detection .plus-sign {
  display: block;
  color: white;
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.38px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.controls-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: calc(var(--height) * 1px);
  width: calc(var(--width) * 1px);
  background-color: white;
}
