*,
*::before,
*::after {
  box-sizing: inherit;
  overflow: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
}
